*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.tracked.json
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
include/
lib/
local/
parts/
src/*
!src/imio
var/
.coverage
pyvenv.cfg
.idea
